/* Mobile Devices */
@media screen and (max-width:600px) {

    /* Navbar Responsive */
    .nav-container{
        padding: 0px 20px;
    }
    .nav-title{
        font-size: 24px;
    }
    .hamburger{
        display:inline;
        visibility: visible;
        cursor: pointer;
    }
    .nav-menus{
        display: none;
      }
    
      /* Banner Responsive */
      .banner-container{
        margin: 100px auto 0;
        width: 335px;
        height: 480px;
        flex-shrink: 0;
        background-size: cover;
        border-radius: 16px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .banner-title{
        font-size: 1.50rem;
      }
      .banner-p{
        font-size: 0.75rem;
        width: 80%;
      }
      .input-container{
        flex-direction: column;
        margin: 40px;
      }
      .input-field{
        margin-top: 20px;
      }
      .btn-primary{
        font-size: 1rem;
        width: 98%;
        margin-top: 20px;
      }
      .field2{
        right: 20px;
        top: 30px;
      }


      /* Popular Tour Starts from here */
    .popular-container{
        flex-direction: column;
        padding: 20px;
    }
    .popular-info{
        width: 100%;
    }
    .ul-li{
        width: 100%;
    }
    .popular-photo{
        width: 100%;
        margin-top: 30px;
    }

    /* Choose Us Starts from here */
    .choose-title{
        font-size: 2rem;
    }
    .choose-p{
        font-size: 1rem;
        width: 90%;
        margin: 25px auto;
    }
    .choose-container{
        flex-direction: column;
        padding: 10px;
    }
    .hotel, .service, .price{
        width: 100%;
        padding: 20px;
    }

    /* Newsletter Starts from here */
    .newsletter-container{
        flex-direction: column;
        margin: 0 20px;
        margin-top: 100px;
    }
    .newsletter-info{
        width: 100%;
        margin-right: 0;
    }
    .newsletter-photo{
        width: 100%;
        margin-top: 20px;
    }

    /* Footer Starts from here */
    .footer-p{
        width: 80%;
    }
    .hori{
        width: 80%;
    }
    .footer-icon>img{
        width: 32px;
    }
}