/* Mobile Devices */
@media screen and (max-width:600px) {

    /* Navbar Responsive */
    .nav-container{
        padding: 0px 20px;
    }
    .nav-title{
        font-size: 24px;
    }
    .hamburger{
        display:inline;
        visibility: visible;
        cursor: pointer;
    }
    .nav-menus{
        display: none;
      }
    
      /* Banner Responsive */
      .banner-container{
        background-position: center;
        height: 480px;
        width: 360px;
        margin: 0px 15px;
      }
      .input-container{
        flex-direction: column;
      }

      /* Popular Tour Starts from here */
    .popular-container{
        flex-direction: column;
        padding: 20px;
    }
    .popular-info{
        width: 100%;
    }
    .ul-li{
        width: 100%;
    }
    .popular-photo{
        width: 100%;
        margin-top: 30px;
    }

    /* Newsletter Starts from here */
    .newsletter-container{
        flex-direction: column;
        margin: 0 20px;
    }
    .newsletter-info{
        width: 100%;
        margin-right: 0;
    }
    .newsletter-photo{
        width: 100%;
        margin-top: 20px;
    }

    /* Footer Starts from here */
    .footer-p{
        width: 80%;
    }
    .hori{
        width: 80%;
    }
    .footer-icon>img{
        width: 32px;
    }
}